<!DOCTYPE html>

<html>
    <head>
        <title>Finance - {% block title %}Finance information{% endblock %}</title>
    </head>

    <body>
        <div>
            {% block body_block %}Finance information

        <hr />
            <div>
                <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'registration_register' %}">Register Here</a></li>
                    <li><a href="{% url 'auth_login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            {% endblock %}
            </div>
        </div>
    </body>
</html>